.main {
    height: 100vh;

    display: grid;
    grid-template-columns: 300px auto;
}

.control-panel {
    grid-column: 1 / 2;
    background: #FFD54F;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 5fr 1fr 1fr;
}

.control-panel-text {
    text-align: center;

    grid-column: 1 / 3;
}

.n {
    grid-row: 2 / 3;
}

.p {
    grid-row: 3 / 4;
}

.iterations {
    grid-row: 4 / 5;
}

.start {
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    padding: 10%;
}

.stop {
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    padding: 10%;
}

.progress {
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 7 / 8;
    padding: 10%;
}

.data {
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 6 / 7;
    padding: 5%;
}
.results-panel {
    grid-columns: 2 / 3;
}