@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import '../node_modules/mathsass/dist/math';

$R: 150;
$background-color: #ffd54f;

* {
  font-family: 'Roboto', sans-serif;
}

@mixin bubble($radius) {
  box-sizing: border-box;
  height: 100%;
  padding: ($radius * (sqrt(2) - 1) / (2 * sqrt(2)) + 10)+px;
  display: grid;
}

.main {
  height: 100vh;
  background: $background-color;
  overflow: auto;

  display: grid;
  grid-template-columns: ($R/4)+px ($R)+px ($R)+px auto ($R)+px ($R)+px ($R/4)+px;
  grid-template-rows: ($R/4)+px ($R)+px ($R)+px auto (2*$R)+px ($R/1.5)+px ($R/4)+px;

  .inputs-bubble {
    grid-column: 2/4;
    grid-row: 2/4;
    z-index: 2;
    > div {
      @include bubble(2*$R);
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .content-sheet {
    overflow: auto;
    grid-column: 3/6;
    grid-row: 3/7;
    z-index: 1;

    > div {
      height: 100%;

      display: grid;
      grid-template-columns: ($R+10)+px auto ($R)+px ($R+10)+px;
      grid-template-rows: ($R/2)+px ($R/4)+px ($R/4)+px auto ($R/4)+px;
      > .switch {
        grid-column: 3/4;
        grid-row: 2/3;
      }
      > .chart, .table {
        grid-column: 2/4;
        grid-row: 4/5;
      }
    }
  }

  .data-bubble {
    grid-column: 5/7;
    grid-row: 5/6;
    z-index: 3;
    > div {
      @include bubble(2*$R);
    }
  }
}